* {
    box-sizing: border-box;
  }

body{

    font-family: Geneva, Verdana, sans-serif;
    font-size: 1em;
}
  
h1{

    font-family: 'Langar', cursive;
    font-size: 3vw;

}
a{
    color:yellow; 
    background-color: blue;
    border: 8px yellow;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}




  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  

    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      }

  }
  @media only screen and (min-width: 768px) {
      /*For desktop*/
    }


    
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

a:hover{
    background-color: orange;
}
a:active{
    border-width: 4px;
}
header{
    background-color: lightblue;
}
header{

    color: #a833ac;
} 
nav{
    background-color: lightpink;
}
main{
    background-color: lightyellow;
}
footer{
    background-color: lightgreen;
}
body{
    animation: pulse 4s infinite;
    
   }
   
@keyframes pulse {
    0% {
        background-color: #61a2ec;
    }
    100% {
        background-color: #87bdd8;
    }
}
   #example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}
a{
    color:yellow; 
    background-color: blue;
    border: 8px yellow;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}

a:hover{
    background-color: orange;
}
a:active{
    border-width: 8px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
